@model List<SampleLMS.Models.DomainModels.Category>
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
	<div class="container">
		<h1>Show All Categories - Admin Functionality</h1>
	</div>
</div>

<div class="container py-5">
	@if (Model != null && Model.Any())
	{
		<table class="table">
			<thead>
				<tr>
					<th>Category Id</th>
					<th>Name</th>
					@*<th>Display Name</th>*@
					<th> </th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
				@foreach (var category in Model)
				{
					<tr>
						<td>@category.CategoryId</td>
						<td>@category.Name</td>
						@*<td>@tag.DisplayName</td>*@
						<td>
							<a asp-area="" asp-controller="Category"
							   asp-action="Edit"
							   asp-route-id="@category.CategoryId">Edit
							</a>
						</td>
						<td>
							<a asp-area="" asp-controller="Category"
								asp-action="DeleteFromListPage"
							   asp-route-id="@category.CategoryId">
										Delete
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<p>No categories found!</p>
	}
</div>
