@model SampleLMS.Models.DTOs.Course.CourseDetailsViewModel
@*@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager
@inject SignInManager<IdentityUser> signInManager*@

<div class="container my-5">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-6">
			@if (Model != null)
			{
				<h1 class="mb-3">@Model.Heading</h1>
				<h2 class="mb-3">@Model.Description</h2>

				<div class="d-flex justify-content-between mb-3">
					<span class="text-secondary">@Model.Author</span>
					<span class="text-secondary">@Model.PublishedDate.ToShortDateString()</span>
				</div>

				<div class="mb-3 d-flex">
					@foreach (var category in Model.Categories)
					{
						<span class="badge bg-secondary me-1">@category.Name</span>
					}
				</div>


				@*<img src="@Model.FeaturedImageUrl" class="d-block img-fluid mb-3" />*@
				<img src="https://source.unsplash.com/random/900x600?sig=1" class="d-block img-fluid mb-3" />

				<div class="mb-3 blog-details-content">
					<h3>@Html.Raw(@Model.Content)</h3>
				</div>

				<h3>Course Modules</h3>
				<div>
					@foreach (var module in Model.Modules)
					{
						<div class="card">
							<div class="card-header">
								<h5>@module.ModuleId</h5>
									@module.ModuleName
							</div>
						</div>
					}					
				</div>

			}
			else
			{
				<p>Course not found!</p>
			}

		</div>
	</div>
</div>