@model SampleLMS.Models.DTOs.Course.CourseDetailsViewModel
@*@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager
@inject SignInManager<IdentityUser> signInManager*@

<div class="container my-5">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-6">
			@if (Model != null)
			{
				<h1 class="mb-3">@Model.Heading</h1>
				<h2 class="mb-3">@Model.Description</h2>

				<div class="d-flex justify-content-between mb-3">
					<span class="text-secondary">@Model.Author</span>
					<span class="text-secondary">@Model.PublishedDate.ToShortDateString()</span>
				</div>

				<div class="mb-3 d-flex">
					@foreach (var category in Model.Categories)
					{
						<span class="badge bg-secondary me-1">@category.Name</span>
					}
				</div>


				@*<img src="@Model.FeaturedImageUrl" class="d-block img-fluid mb-3" />*@
				{
					@if (Model.FeaturedImageUrl is not null)
					{
						<img src=@Model.FeaturedImageUrl class="d-block img-fluid mb-3" />
					}
					else
					{
						<img src="https://source.unsplash.com/random/900x600?sig=1" class="d-block img-fluid mb-3" />
					}
				}
				

				<div class="mb-3 blog-details-content">
					<h3>@Html.Raw(@Model.Content)</h3>
				</div>

				@*<h3>Course Modules</h3>
				<button class="btn btn-primary btn-sm mb-2">Add New Module</button>*@

				<div class="row">
					<div class="col">
						<h3>Course Modules</h3>
					</div>
					<div class="col-auto">
						<a class="btn btn-success btn-sm mb-2" asp-area=""
						asp-controller="Module"
						asp-action="Add">Add New Module
						</a>
					</div>
				</div>
				
				<div>
					@{var index = 0;}
					@foreach (var module in Model.Modules)
					{
						index += 1;
						<div class="card">
							<a asp-area=""
							   asp-controller="Module"
							   asp-action="ModuleDetailedView"
							   asp-route-moduleId="@module.ModuleId">
								<div class="card-header">
									<h5>@index: @module.ModuleName</h5>
									@module.ModuleContent
								</div>
							</a>
							<div class="btn-group position-absolute top-0 end-0 m-2">
								<a class="btn btn-primary btn-sm" asp-area="" asp-controller="Module"
								asp-action="Edit"
								asp-route-moduleId="@module.ModuleId">
									Edit
								</a>
								<a class="btn btn-danger btn-sm ms-2" asp-area="" asp-controller="Module"
								asp-action="Delete"
								asp-route-moduleId="@module.ModuleId">
									Delete
								</a>
							</div>
						</div>
					}					
				</div>

			}
			else
			{
				<p>Course not found!</p>
			}

		</div>
	</div>
</div>